.main {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-self: center;
  align-items: center;
  .header {
    height: 100px;
    min-height: 100px;
    width: 100%;
    background-color: black;
    color: #fff;
    padding-left: 15px;
    display: flex;
    align-items: center;
  }
}

.loader {
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/sample.gif");
  background-size: 200px 200px;
}
